body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(23, 23, 23);
}

nav li a{
    color: rgb(125, 60, 152);
}

nav ul{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}


footer{
    background-color: black;
    padding: 1% 0%;
}

footer p{
    font-size: 13px;
    color: rgb(125, 60, 152);
    margin-top: 10px;
}

footer div{
    padding: 0% 15%;
}

@media all and (max-width:500px) {
    nav ul{
        display: inline-flex;
        list-style: none;
        justify-content: space-between;
        font-size: small;
    }
    
    #section1{
        padding: 15% 15%;
        margin-top: 80px;
    }
    
    #section2, #section3{
        padding: 15% 15%;
        margin-top: -80px;
    }
}

@media all and (min-width: 850px) {
    #section1{
        padding: 15% 15%;
        margin-top: -80px;
    }
    
    #section2{
        padding: 15% 15%;
        margin-top: -380px;
    }
    
    #section3{
        padding: 15% 15%;
        margin-top: -380px;
    }
    
}