body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(23, 23, 23);
}

nav li a{
    color: rgb(125, 60, 152);
}

nav p{
    color: rgb(125, 60, 152);
}

#section1{
    padding: 15% 15%;
    margin-top: 80px;
    margin-bottom: 140px;
    background-image: url('https://res.cloudinary.com/akeem/image/upload/v1654371883/Events%20By%20Yapayaski/images/WhatsApp_Image_2022-05-31_at_6.22.32_AM_jtpekd.jpg');
    background-size: 100%;
}

#section1 h2{
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

#section2{
    padding: 0 15%;
    margin-bottom: 140px;
    margin-top: -20px;
}

#section2 h2{
    color: rgb(125, 60, 152);
    text-align: center;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 80px;
}

#section2 p{
    font-size: 16px;
    margin: 0px 0px 24px;
    line-height: 24px;
    text-align: center;
}

#section3{
    padding: 0 15%;
    margin-bottom: 0px;
}

#section3 h2{
    color: rgb(125, 60, 152);
    text-align: center;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 80px;
}

#section4{
    padding: 0 15%;
    margin-bottom: 0px;
    margin-top: 120px;
}

#section4 h2{
    color: rgb(125, 60, 152);
    text-align: center;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 40px;
}

.p1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: -5px;
    text-align: center;
}

.p2{
    font-size: 17px;
    text-align: center;
    font-weight: 400;
}

#section5{
    padding: 0 15%;
    margin-bottom: 60px;
    margin-top: 120px;
}

#section5 h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(125, 60, 152);
}

#section5 p{
    font-size: 16px;
    line-height: 24px;
}

footer{
    background-color: black;
    padding: 1% 0%;
}

footer p{
    font-size: 13px;
    color: rgb(125, 60, 152);
    margin-top: 10px;
}

footer div{
    padding: 0% 15%;
}